<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <a href="/lofb" id="home_nav">Home</a> <!--is it ok to have the anchor tag above the h1?-->

    <h1 id="sing_book_title">{{book.title}}</h1>

    <p>
        <div id="sing_book_headers">
            <h2>by {{book.author}}</h2>
            <h3>Genre: {{book.genre}}</h3>
        </div>
        <br>
        <p class="blurb">{{book.blurb}}</p>
    </p>
</body>
</html>